@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>University of Contoso</h1>
    <p class="lead">The leading university you can find on Bing</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account now because later on you will need one to access all kinds of amazing features
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p>View our extensive list of courses offering such diverse learning as Calculus, Microeconomics, 
        Literature and at least 5 more! You can even add and delete courses at your own discretion!</p>
        <p><a class="btn btn-default" href="~/Courses">View Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
    <h2>Live Chat</h2>
    <p>
        Talk to anyone else who is online now! Discuss your courses or assignments, 
        help each other with projects, or simply annoy other students annonymously, we have no control over it!
    </p>
    <p><a class="btn btn-default" href="~/Chat">Start Chatting &raquo;</a></p>
    </div>
</div>